[package]
name = "aperf"
version = "0.1.0"
edition = "2021"

publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
anyhow = "1.0"
vergen = "6"

[lib]
name = "aperf_lib"
path = "src/lib.rs"

[[bin]]
name = "aperf"
path = "src/bin/aperf.rs"

[dependencies]
clap = { version = "4.2.5", features = ["derive"] }
serde = { version = "1.0", features = ["derive"] }
chrono = { version = "0.4", features = ["serde"] }
rustix = { version = "0.38.26", features = ["system"] }
serde_yaml = "0.8"
thiserror = "1.0"
log = "0.4.20"
env_logger = "0.8.4"
lazy_static = "1.4.0"
timerfd = "1.3.0"
procfs = "0.12.0"
ctor = "0.2.5"
sysinfo = "0.26.2"
anyhow = "1.0"
serde_urlencoded = "0.7"
serde_json = "1.0"
aws-config = "0.49.0"
tokio = { version = "1.24.2", features = ["full"] }
strum = "0.24"
strum_macros = "0.24"
sysctl = "*"
perf-event2 = "0.7.1"
num_cpus = "1.0"
libc = "0.2"
flate2 = "1.0.26"
tar = "0.4.38"
infer = "0.13.0"
bincode = "1.3.3"
inferno = "0.11.15"
indexmap = "2.1.0"
cfg-if = "0.1"
