* {box-sizing: border-box}
body {
  overflow-y: scroll;
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-column-gap: 1px;
}

/* Style the tab */
.tab {
  grid-column: 1;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  position: sticky;
  align-self: start;
  top: 0;
  overflow-y: auto;
  max-height: 100vh;
}

.aperf {
  background-color: white;
  text-align: center;
  color: black;
  padding: 5%;
  font-size: 27px;
}

.extra {
  padding: 5px 12px;
}

.content {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 1px;
}

/* Style the buttons inside the tab */
.tab button {
  display: grid;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.icon-text {
  grid-column: 1;
}

.configure {
  grid-column: 2;
  background-image: url("images/configure.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.all-runs {
  grid-row: 1;
  position: sticky;
  z-index: 2;
  top: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  grid-row: 2;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    table-layout: auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f5f5f5;
}
.table-container {
    width: 100%;
    overflow-x: auto;
}
.toggle-button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.assembly-column, .source-column {
    min-width: 300px;
}

.table-description {
    margin: 1em 0;
    line-height: 1.5;
    font-size: 0.9em;
}

.hotline-table-container {
  display: flex;
  justify-content: space-between;
}

.hotline-run-section {
  padding: 0 10px;
}

.hotline-iframe {
  width: 100%;
  height: 500px;
  display: none;
}