name: ECR Publish

on:
  workflow_call:
    inputs:
      aperf_version:
        description: The APerf version to be used as image tag.
        type: string
    secrets:
        ecr_registry_alias:
          description: The alias of the public ECR registry that the repository belongs to.
          required: true
        ecr_publish_role_arn:
          description: The IAM role assumed by the workflow to publish images to the public ECR repository.
          required: true

permissions:
  id-token: write
  contents: read

jobs:
  ecr-publish:
    strategy:
      matrix:
        platform: [ubuntu-latest, ubuntu-22.04-arm]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.3
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Retrieve IAM credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.ecr_publish_role_arn }}
          aws-region: us-east-1

      - name: Login to Amazon ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Build, tag, and push docker image to Amazon ECR Public
        env:
          REGISTRY: ${{ steps.login-ecr-public.outputs.registry }}
          REGISTRY_ALIAS: ${{ secrets.ecr_registry_alias }}
          IMAGE_TAG: ${{ inputs.aperf_version }}
        run: |
          if [ $(arch) = "aarch64" ]; then
            ARCH=arm64
          else
            ARCH=amd64
          fi
          ARCH_TAG=$REGISTRY/$REGISTRY_ALIAS/aperf:$IMAGE_TAG-${ARCH}
          echo "Building and pushing image ${ARCH_TAG}"
          docker build -t ${ARCH_TAG} .
          docker push ${ARCH_TAG}

  # Create Docker manifest for the multi-architecture image
  ecr-manifest:
    runs-on: ubuntu-latest
    needs: ecr-publish
    steps:
      - name: Retrieve IAM credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.ecr_publish_role_arn }}
          aws-region: us-east-1

      - name: Login to Amazon ECR Public
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Create Docker manifest
        env:
          REGISTRY: ${{ steps.login-ecr-public.outputs.registry }}
          REGISTRY_ALIAS: ${{ secrets.ecr_registry_alias }}
          IMAGE_TAG: ${{ inputs.aperf_version }}
        run: |
          IMAGE_PATH=$REGISTRY/$REGISTRY_ALIAS/aperf
          TAG=${IMAGE_PATH}:$IMAGE_TAG
          LATEST_TAG=${IMAGE_PATH}:latest
          echo "Creating manifest ${TAG}"
          docker manifest create ${TAG} ${TAG}-arm64 ${TAG}-amd64
          docker manifest inspect ${TAG}
          docker manifest push ${TAG}
          echo "Creating manifest ${LATEST_TAG}"
          docker manifest create ${LATEST_TAG} ${TAG}-arm64 ${TAG}-amd64
          docker manifest inspect ${LATEST_TAG}
          docker manifest push ${LATEST_TAG}
